._6-0i{color:inherit}._6-0j{background-color:#f2f3f5;margin:0 -12px;position:relative}._6-0k{flex-shrink:0;padding:12px}._6-0l{flex-shrink:0}._6-0v{flex-grow:1;padding:0 12px}._6-0w,._6-0w a{color:#1c1e21}._6-0x{padding-top:4px;width:100%}._6-0x,._6-0x a{color:#606770;font-size:14px;line-height:20px}._6-0j ._oqb{border-width:1px}
._7nux ._48gf,.sidebarMode ._7nux .fbDockWrapperRight{right:auto}

#bootloader_9KcxG{height:42px;}.bootloader_9KcxG{display:block!important;}